#banner {
  margin-top: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid white;
  .conteudo {
   
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
      border: 5px solid white;
    }
  }
}
