<section id="cabecalho">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 conteudo">
        <div class="logo">
            <img src="assets\images\logoyoga__1_-removebg-preview.png" alt="" class="logo-1">
            <h1>IYES-YogaTerapia</h1>
        </div>

        <nav>
            <a href="" class="links"><button class="link-decoration">HOME</button></a>
            <a href="" class="links"><button class="link-decoration">SOBRE</button></a>
            <a href="" class="links"><button class="link-decoration"><img src="assets\images\whats-preto.png" alt="" class="whatsapp"></button></a>
            <a href="" class="links"><button class="link-decoration"><img src="assets\images\insta.png" alt="" class="insta"></button></a>
           
        </nav>


      </div>
    </div>
  </div>
</section>
