<section id="cabecalho">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 conteudo">
        <div class="logo">
            <img src="assets\images\logoyoga__1_-removebg-preview.png" alt="" class="logo-1">
            <h1>IYES-YogaTerapia</h1>
        </div>

        <nav>
            <a href=""><p>HOME</p></a>
            <a href=""><p>SOBRE</p></a>
            <a href=""><p><img src="assets\images\whats-preto.png" alt="" class="whatsapp"></p></a>
            <a href=""><p><img src="assets\images\insta.png" alt="" class="insta"></p></a>
           
        </nav>


      </div>
    </div>
  </div>
</section>
